<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the 
  <a href="http://railstutorial.org/#help">Rails Tutorial Help Section</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book"><em>Rails Tutorial Help Section</em> book</a>.
  sample application.  
</p>

